<div class="contact">
    <div class="resume">
        <img src="../../assets/images/Resume.png" alt="resume">
    </div>
    <div class="info">
        <div class="contact-label">Phone:
            <div class="actual">(503) 858-5790</div>
            <div class="desc">This is a Portland, Oregon phone number and I am currently living in North Virginia.</div>
        </div>

        <div class="contact-label">Email:<br>
            <a 
                class="actual email" 
                href="mailto:david.calderwood5@gmail.com" 
                target="_top">
                    david.calderwood5@gmail.com
            </a>
            <div class="desc">This is my primary email address that gets checked most often.</div>
        </div>

        <div class="contact-label">Other Email:<br>
            <a 
                class="actual email" 
                href="mailto:davidhcalderwood@gmail.com" 
                target="_top">
                    davidhcalderwood@gmail.com
            </a>
            <div class="desc">This is a secondary email address that gets checked M-F from 9-5.</div>
        </div>

        <!-- External Links -->
        <div class="external-links">
            <a href="https://github.com/davecalderwood"
            target="_blank" rel= noopener>
                <div class="link github">GitHub</div>
            </a>

            <a href="https://www.linkedin.com/in/david-calderwood/"
            target="_blank" rel= noopener>
                <div class="link linkedin">LinkedIn</div>
            </a>

            <a href="https://www.facebook.com/david.calderwood35"
            target="_blank" rel= noopener>
                <div class="link facebook">FaceBook</div>
            </a>
        </div>
    </div>
</div>