.contact {
    display: flex;
    border: 1px solid red;

    .info {
        border: 1px solid blue;
        width: 100%;
        padding: 10px;
    }
}
@media screen and (max-width: 1000px) {
    .contact {
        display: flex;
        flex-direction: column;

        .resume {order: 2}
        .info {order: 1}
    }
}
@media screen and (max-width: 580px) {
    img {
        width: 100%;
    }
}