.home {
    display: flex;

    img {
        width: 400px;
        border-radius: 25px;
    }
    .desc {
        width: 100%;
        background: rgb(225, 224, 224);
        margin-top: 50px;
        border-radius: 25px;
    }
}
@media screen and (max-width: 900px) {
    .home {
        flex-direction: column;

        .desc {
            margin: 0;
            order: 2;
        }
        img {order: 1}
    }
}
@media screen and (max-width: 450px) {
    .home {
        img {
            width: 100%;
        }
    }
}