.home {
    display: flex;

    img {
        width: 400px;
        border-radius: 25px;
    }
    .desc {
        width: 100%;
        background: rgb(225, 224, 224);
        margin-top: 50px;
        border-radius: 25px;
    }
}