<div class="home">
    <img src="../../assets/images/ProfilePic.jpg" alt="Profile Picture">

    <div class="desc">
        <div class="job-title">Software Developer
            <div class="current">- Yona-Brixtel</div>

            <div class="my-work">
                I am looking for a position where I can us analytical skills to evaluate software to make improvements. I have been working as a professional software developer for Yona-Brixtel since March of 2019. And before that I was at Helio.
            </div><br>

            <div class="my-work">
                At these companies I have become very confident with JavaScript and its libraries. I have used Angular 7+, React/React-Native the most and very much enjoy it. 
            </div><br>

            <div class="my-work">
                    I have a strong set of skills with: JavaScript, Angular 7+, PrimeNg, React, React Native, CSS/SCSS, HTML, API, MongoDB, Express, Micro, Micro-Router, Monk, Git, Jira, REST
            </div>
        </div>
    </div>
</div>
